<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>My Chatbot</title>
      <script src="https://kit.fontawesome.com/cdef9145b8.js" crossorigin="anonymous"> </script>
  </head>
  <body onload="start()">
