<%- include("partials/header") -%>
<main>
  <div id="main">
    <h2>Chatbot</h2>
    <div id="msg_area">
      <div id="robot">
        <div id="bot">
        </div>
        <h3>Rere's Chatbot</h3>
      </div>
    </div>
    <div id="input">
<input type="text" placeholder="New Message" class ="text">
<button class="send" type="button" name="button">Send <i class="fa-solid fa-paper-plane"></i></button>
    </div>
  </div>
</main>
<%- include("partials/footer") -%>
